<!--
  ng-container example
  <app-person>
  <ng-container title>Hello World</ng-container>
  <h2>Hello Angular</h2>
</app-person>-->

<!--
  ng-If example
  <div *ngIf="persons.length > 0;then listOfPersons else noPersons">
</div>
<ng-template #listOfPersons>
  List of courses
  <li *ngFor="let per of persons">
    {{per}}
  </li>
</ng-template>
<ng-template #noPersons>
  No Courses yet
</ng-template>
-->
<!--
  hidden property example
<div [hidden]="persons.length == 0">
  List of courses
</div>
<div [hidden]="persons.length > 0">
  No courses
</div>
-->
<!--
<ul class="nav nav-pills nav-link">
<li [class.active]="viewMode == 'map'"><a href="" (click)="viewMode = 'map'">Map View</a></li>
<li [class.active]="viewMode == 'list'"><a href="" (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">list View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
-->

<!--

Splicing of array using *ngFor

<label>Enter Name:</label><br />
<input type="text" #inputName /><br /><br />
<button (click)="onadd(inputName.value)">Add</button><br />

<div *ngFor="let arr of myArray">
  {{ arr }}
  <button (click)="onRemove(arr)">Remove</button>
</div>
-->


<input style = "margin-top: 100px; margin-left: 100px;" type="text" [appInputFormat] = "'lsmdsjdiji'">
